
services:
  web:
    build: .
    working_dir: /app
    command: python -m debugpy --listen 0.0.0.0:5678 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
      - "5678:5678"
    environment:
      - DJANGO_AUTORELOAD_MODE=stat