Django>=5.0,<6.0



# Dev Dependency
debugpy
django-debug-toolbar
mysqlclient

# restfull api
djangorestframework
drf-nested-routers
django-filter
djoser
djangorestframework-simplejwt
pillow
django-cors-headers
django-templated-mail
redis
celery
flower

## Dev automated testing tools
pytest
pytest-django
# pytest-watch
locust
django-silk

